<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mb100">
      <h2 class="mb20">{{ add ? 'Create a new equipment' : 'Equipment #'
        + equipment.id + ' \'' + equipment.title + '\'' }}</h2>

      <div class="alert alert-success" *ngIf="success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ success }}
      </div>
      <div class="alert alert-danger" *ngIf="error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>

      <form>
        <div class="form-group">
          <label for="a">{{ add ? 'Title' : 'Equipment\'s Title' }} (*)</label>
          <input type="email" class="form-control" id="a"
                 [(ngModel)]="title"
                 name="title"
                 placeholder="Title">
          <small id="ab" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="a">Date</label>
          <input type="text" class="form-control" id="a"
                 [(ngModel)]="date"
                 name="date"
                 placeholder="Date">
          <small id="ab" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="a">Quantity (*)</label>
          <input type="text" class="form-control" id="a"
                 [(ngModel)]="quantity"
                 name="quantity"
                 placeholder="Quantity">
          <small id="ab" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="a">Unit Price</label>
          <input type="text" class="form-control" id="a"
                 [(ngModel)]="unit_price"
                 name="unit_price"
                 placeholder="Unit Price">
          <small id="ab" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="a">Usage Percentage</label>
          <input type="text" class="form-control" id="a"
                 [(ngModel)]="usage_percentage"
                 name="user_percentage"
                 placeholder="Usage Percentage">
          <small id="ab" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="a">Clinics (*)</label>
          <input type="hidden" class="form-control" id="a"
                 [(ngModel)]="clinic_ids"
                 name="clinic_ids"
                 placeholder="Clinics">
          <small id="ab" class="form-text text-muted"></small>
          <div class="sec__cont">
            <div class="sec__iline mb20">
              <input type="text" class="form-control sec__itext"
                     [(ngModel)]="secOps.itxtValue" name="itxtValue"
                     (focus)="onFocusSC()"
                     (blur)="onBlurSC()"
                     (input)="onTypeSC($event)"
                     autocomplete="off"
                     placeholder="Search for clinics">
              <a class="btn btn-info" (click)="onAddSC()"> <span class="glyphicon glyphicon-plus"></span> Add</a>
            </div>

            <div class="sec__dp" *ngIf="secOps.dp">
              <div class="sec__dpLine"
                   *ngFor="let c of searchedClinics"
                   (click)="onSelectSC(c.id)">{{ c.text }}</div>
            </div>
            <div class="sec__clis">
              <div class="sec__clisLine"  *ngFor="let c of addedClinics">
                <span class="sec__clisLineTxt">{{ c.text }}</span>
                <a class="sec__clisLineRemove btn btn-danger ml10"
                   (click)="onRemoveSC(c.id)">-</a>
              </div>
            </div>
          </div>
        </div>



        <div class="form-group text-right">
          <a type="submit" routerLink="{{ add ? '../' : '../../' }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Go Back</a>
          <button type="submit" [ngClass]="{ '-disabled': loading }"
                  (click)="onAddEdit()"
                  class="btn btn-primary  ml10">{{ add ? 'Create' : 'Save' }}</button>
        </div>
      </form>


    </div>
  </div>
</div>
