<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Medyana</a>
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/clinics">Clinics</a></li>
        <li routerLinkActive="active"><a routerLink="/equipments">Equipment</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

