<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2 class="mb20">{{ add ? 'Create a new equipment' : 'Clinic #'
        + clinic.id + ' \'' + clinic.title + '\'' }}</h2>

      <div class="alert alert-success" *ngIf="success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ success }}
      </div>
      <div class="alert alert-danger" *ngIf="error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>

      <form>
        <div class="form-group">
          <label for="a">{{ add ? 'Title' : 'Clinics Title' }}</label>
          <input type="email" class="form-control" id="a"
                 [(ngModel)]="title"
                 name="title"
                 placeholder="Title">
          <small id="ab" class="form-text text-muted"></small>
        </div>

        <div class="form-group text-right">
          <a type="submit" routerLink="{{ add ? '../' : '../../' }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Go Back</a>
          <button type="submit" [ngClass]="{ '-disabled': loading }"
                  (click)="onAddEdit()"
                  class="btn btn-primary  ml10">{{ add ? 'Create' : 'Save' }}</button>
        </div>
      </form>


    </div>
  </div>
</div>
