<div class="resinfo">
  <div class="row">
    <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control"
                 [(ngModel)]="tableGetValues.searchValue"
                 (input)="onInputSearchbox()"
                 placeholder="Search for...">
          <span class="input-group-btn">
        <button class="btn btn-danger"
                *ngIf="tableGetValues.searchValue"
                (click)="onClearSearchbox()"
                type="button"><span class="glyphicon glyphicon-remove"></span></button>
        <button
          (click)="onInputSearchbox()"
          class="btn btn-default btn-primary" type="button">Search</button>
      </span>
        </div><!-- /input-group -->
      </div>
    <div class="col-md-6 text-right mb20">
      <span> rows amout per page: </span>
      <div class="btn-group" [ngClass]="{ 'open': isRloDropOpen }" role="group">
        <button type="button"
                (click)="onToggleRowsLimits()"
                class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ tableGetValues.rowsLimit }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="curpo" (click)="onChangeRowsLimitsOptions(item)" *ngFor="let item of rowsLimitsOptions">{{ item }}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <p *ngIf="foundTotal">{{ foundTotal }} clinics found in total</p>
    </div>
  </div>
</div>

<table class="dataTable table table-striped table-bordered">
  <thead>
    <tr>
      <th [attr.sortState]="column.sortState"
          *ngFor="let column of tableColums" (click)="onSortChange(column.value)">
        {{ column.title }}
        <span *ngIf="column.sortState === 1" class="glyphicon glyphicon-chevron-up"></span>
        <span *ngIf="column.sortState === 2" class="glyphicon glyphicon-chevron-down"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData">
      <td *ngFor="let column of tableColums">
        <span *ngIf="column.value !== 'edit'">{{ data[column.value] }}</span>
        <a class="btn btn-info" routerLink="{{ data[column.field] + column.plus  }}" *ngIf="column.value === 'edit'">
          Edit
        </a>
        <a class="btn btn-danger ml10" (click)="onDeleteRow(data.id)" *ngIf="column.value === 'edit'">
          Delete
        </a>
      </td>
    </tr>
    <tr *ngIf="!tableData.length">
      <td [attr.colspan]="tableColums.length">
        <h4>No Results</h4>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li [ngClass]="{ 'disabled': paginationValues[0].disabled }">
      <a (click)="onChangePage(-1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li [ngClass]="{ 'active': tableGetValues.pageIndex === paginationValues[1].value, 'disabled': paginationValues[1].disabled }"><a (click)="onChangePage(paginationValues[1].value)">{{ paginationValues[1].value }}</a></li>
    <li [ngClass]="{ 'active': tableGetValues.pageIndex === paginationValues[2].value, 'disabled': paginationValues[2].disabled }"><a (click)="onChangePage(paginationValues[2].value)">{{ paginationValues[2].value }}</a></li>
    <li [ngClass]="{ 'active': tableGetValues.pageIndex === paginationValues[3].value, 'disabled': paginationValues[3].disabled }"><a (click)="onChangePage(paginationValues[3].value)">{{ paginationValues[3].value }}</a></li>
    <li [ngClass]="{ 'active': tableGetValues.pageIndex === paginationValues[4].value, 'disabled': paginationValues[4].disabled }"><a (click)="onChangePage(paginationValues[4].value)">{{ paginationValues[4].value }}</a></li>
    <li [ngClass]="{ 'active': tableGetValues.pageIndex === paginationValues[5].value, 'disabled': paginationValues[5].disabled }"><a (click)="onChangePage(paginationValues[5].value)">{{ paginationValues[5].value }}</a></li>
    <li [ngClass]="{ 'disabled': paginationValues[6].disabled }">
      <a (click)="onChangePage(-2)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
