<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Equipments</h2>
      <div class="alert alert-success" *ngIf="success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ success }}
      </div>
      <div class="text-right">
        <a routerLink="add" class="btn btn-success btn-lg mb20">Add</a>
      </div>
      <app-table
        (refreshTableDateEE)="onRefreshTableDate($event)"
        (deleteRowEE)="onDeleteRow($event)"
        [tableColums]="tableColums"></app-table>
    </div>
  </div>
</div>
