/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";


.dataTable {
  margin-bottom: 20px;

}

.curpo {
  cursor: pointer;
}

.pagination {
  a {
    cursor: pointer;
  }
  .disabled {
    pointer-events: none;
    opacity: .7;
  }
}

.-disabled {
  pointer-events: none;
  opacity: .7;
}

table {
  th {
    cursor: pointer;
  }
}

.mb20 { margin-bottom: 20px; }
.mb100 { margin-bottom: 100px; }
.ml10 { margin-left: 10px; }

.sec {
  &__cont {
    display: flex;
    flex-wrap: wrap;
  }

  &__iline {
    width: 100%;
    display: flex;
  }

  &__dp {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    background-color: #eee;
    position: absolute;
    margin-top: 34px;
    z-index: 3;

    &Line {
      cursor: pointer;
      padding: 5px 20px;
      &:hover {  background-color: #ddd }
    }
  }

  &__itext {
    flex-grow: 1;
    width: unset;
  }

  &__clis {
    &Line {
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      margin-top: 10px;
      padding-left: 5px;
      background-color: cornflowerblue;
    }
  }
}
